<template>
	<!-- add class 'gain', 'unchange', 'lose' to .stock-item -->
	<div class="col-md-2 stock-item">
		<div class="stock-item-left">
			<div class="stock-name"><!-- Stock name --></div>
			<div class="stock-value"><!-- Stock value --></div>
		</div>
		<div class="stock-item-right">
			<div class="stock-change total"><!-- Stock change --></div>
			<div class="stock-change percentage"><!-- Stock change % --></div>
		</div>
	</div>
</template>