@charset "utf-8";

.separate-content {
	/*margin-top: 0;*/
}

.sidebar-body-content {
	overflow: unset;
}

#body-content {
	width: 100%;
}

@media (min-width: 1025px) {
	#body-content {
		width: 100%;
		padding-left: 0;
	}
}

.slide-tab {
	width: 100%
}
#slideImage .carousel-control {
	display: block !important;
}
#slideImage .carousel-inner .item a {
	display: block;
	position: relative;
	padding-top: 35%
}

#slideImage .carousel-inner .item img {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	height: 100%;
	width: auto;
	min-width: 100%;
	margin: 0 auto;
}

#slideImage .carousel-indicators {
	left: 0;
	right: 0;
	margin: 0 auto;
}

.stock {
	font-family: 'db_helvethaicamon_x55_regular';
	line-height: 0.8;
	margin: 20px -15px;
}

.stock .stock-item {
	padding: 0 10px;
	font-size: 18px;
}

.stock .stock-item + .stock-item {
	border-left: 1px solid #C4C4C4;
}

.stock .stock-item .stock-item-left {
	float: left;
}
.stock .stock-item .stock-item-right {
	float: right;
}

.stock .stock-item .stock-name {
	font-size: 1.1em;
	font-weight: bold;
	color: black;
}

.stock .stock-item .stock-name:after {
	padding-left: 8px;
	color: inherit;
	font-size: 0.68em
}

.stock .stock-item .stock-value {
	font-size: 2em;
}

.stock .stock-item .stock-change {
	font-size: 1.05em;
	font-weight: bold;
	padding-top: 15px
}

.stock .stock-item .stock-change + .stock-change {
	padding-top: 0;
}

@media screen and (max-width: 1200px) {
	.stock .stock-item {
		padding: 0 7px;
	}
	.stock .stock-item .stock-value {
		font-size: 1.5em;
	}

	.stock .stock-item .stock-change {
		padding-top: 7px;
	}
}

@media screen and (max-width: 991px) {
	.stock .stock-item:nth-child(4) {
		border-left: none;
	}

	.stock .stock-item:nth-child(4),
	.stock .stock-item:nth-child(5),
	.stock .stock-item:nth-child(6) {
		padding-top: 10px
	}
}

@media only screen and (max-width : 767px) {
	.stock .stock-item:nth-child(2n+1) {
		border-left: none;
	}
	.stock .stock-item:nth-child(2n) {
		border-left: 1px solid #C4C4C4;
	}

	.stock .stock-item:nth-child(3),
	.stock .stock-item:nth-child(4),
	.stock .stock-item:nth-child(5),
	.stock .stock-item:nth-child(6) {
		padding-top: 10px
	}
}

.stock .stock-item.gain {
	color: #1A9615;
}

.stock .stock-item.lose {
	color: #EF3E33;
}

.stock .stock-item.unchange {
	color: #EE9D27;
}

.stock .stock-item.gain .stock-name:after {
	content: '\25b2\fe0e';
	color: #1A9615;
}
.stock .stock-item.lose .stock-name:after {
	content: '\25bc\fe0e';
	color: #EF3E33;
}
.stock .stock-item.unchange .stock-name:after {
	content: '\25c0\fe0e\25b6\fe0e';
	font-size: 0.6em;
	color: #EE9D27;
}

.shortcut .shortcut-item {
	float: left;
	width: 20%;
	height: 65px;
	background-color: #FBB034;
	margin: auto;
	position: relative;
}

.shortcut .shortcut-item a {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
}

.shortcut .shortcut-item a:focus {
	text-decoration: none;
}

.shortcut:not(.touch) .shortcut-item:hover,
.shortcut .shortcut-item.active {
	background-color: #FF9416;
}

.shortcut:not(.touch) .shortcut-item:hover a,
.shortcut .shortcut-item.active a {
	text-decoration: none;
}

.shortcut .shortcut-item + .shortcut-item {
	border-left: 2px solid white;
}

.shortcut .shortcut-item .icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	height: 60px;
	width: 60px;
}

.shortcut .shortcut-item .title {
	color: black;
	font-family: 'db_helvethaicamon_x55_regular';
	font-size: 24px;
	font-weight: bold;
	line-height: 0.8;
}

.shortcut .shortcut-item .icon.securities {
	background-image: url(../images/securities.png);
}
.shortcut .shortcut-item .icon.investor {
	background-image: url(../images/investor.png);
}
.shortcut .shortcut-item .icon.ipo {
	background-image: url(../images/ipo.png);
}
.shortcut .shortcut-item .icon.services {
	background-image: url(../images/services.png);
}
.shortcut .shortcut-item .icon.media {
	background-image: url(../images/media.png);
}

.shortcut .shortcut-item .shortcut-sub {
	position: absolute;
	z-index: 20;
	background-color: #F8F8F8;
	border-bottom: 5px solid #FF9416;
	min-width: 300px;
	display: none;
}

.shortcut:not(.touch) .shortcut-item:hover > .shortcut-sub,
.shortcut .shortcut-item.active > .shortcut-sub,
.shortcut:not(.touch) .shortcut-sub-item:hover > .shortcut-sub,
.shortcut .shortcut-sub-item.active > .shortcut-sub {
	display: inherit;
}
.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item {
	color: #262626;
	-webkit-box-shadow: inset 0px -8px 30px -15px rgba(0,0,0,0.2);
	   -moz-box-shadow: inset 0px -8px 30px -15px rgba(0,0,0,0.2);
	        box-shadow: inset 0px -8px 30px -15px rgba(0,0,0,0.2);
}

.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item a {
	padding: 10px 40px;
	width: 100%;
	font-size: 19px;
	font-family: 'db_helvethaicamon_x55_regular';
	color: inherit;
}

.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item {
	position: relative;
}

.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item .icon {
	position: absolute;
	display: inline-block;
}

.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item .icon.icon-arrow {
	right: 20px;
	top: 15px;
	width: 6px;
	height: 12px;
	background: url(../images/arrow-sprite.png) no-repeat top center/100% auto;
}

.shortcut:not(.touch) .shortcut-item .shortcut-sub .shortcut-sub-item:hover .icon.icon-arrow,
.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item.active .icon.icon-arrow {
	background-position: bottom center;
}

.shortcut:not(.touch) .shortcut-item .shortcut-sub .shortcut-sub-item:hover,
.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item.active {
	background-color: #EAEBED;
	color: #FF9416;
}

.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item .shortcut-sub {
	background-color: #EAEBED;
	position: absolute;
	top: 0;
	left: 100%;
}

.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item .shortcut-sub .shortcut-sub-item:before {
	content: '\2022';
	position: absolute;
	margin-left: 20px;
	font-size: 20px;
	top: 10px;
	color: #FF9416;
}

.shortcut:not(.touch) .shortcut-item .shortcut-sub .shortcut-sub-item .shortcut-sub .shortcut-sub-item:hover,
.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item .shortcut-sub .shortcut-sub-item.active {
	background-color: #F8F8F8;
}

@media screen and (max-width: 991px) {
	.shortcut .shortcut-item {
		float: unset;
		width: 100%;
		min-height: 50px;
		height: auto;
	}

	.shortcut .shortcut-item + .shortcut-item {
		border-top: 2px solid white;
		border-left: none;
	}

	.shortcut .shortcut-item .icon {
		width: 45px;
		height: 45px;
		margin-left: 8px;
	}
	.shortcut .shortcut-item .title {
		font-size: 22px;
		margin-left: 10px;
	}

	.shortcut .shortcut-item .collapse {
		display: inline-block;
		width: 20px;
		height: 10px;
		background: url(../images/collapse-sprite.png) no-repeat top center/100% auto;
		position: absolute;
		right: 18px;
		top: 16px;
	}

	.shortcut .shortcut-item .shortcut-sub {
		position: relative;
		width: 100%;
		min-width: 100%;
		border-bottom: none;
		margin-bottom: 0;
	}

	.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item a {
		padding-top: 18px;
		padding-bottom: 18px;
		font-size: 20px;
	}

	.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item .icon.icon-arrow {
		top: 23px;
	}

	.shortcut:not(.touch) .shortcut-item .shortcut-sub .shortcut-sub-item:hover,
	.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item.active {
		background-color: inherit;
	}

	.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item .shortcut-sub {
		position: relative;
		left: 0;
	}

	.shortcut .shortcut-item .shortcut-sub .shortcut-sub-item .shortcut-sub .shortcut-sub-item:before {
		font-size: 18px;
		top: 18px;
	}
}

/* IE9, IE10 */
@media screen and (min-width:0\0) {
    .stock {
    	margin: 20px 0;
    }
	.shortcut .shortcut-item a {
		display: inline-block;
	}
	.shortcut .shortcut-item .icon {
		float: left;
	}
	.shortcut .shortcut-item .title {
		float: left;
		padding: 13px 0;
			}
	.shortcut .shortcut-item:first-child .title,
	.shortcut .shortcut-item:last-child .title {
		float: left;
		padding: 20px 0;
	}
}