@font-face{font-family:'db_helvethaicamon_x55_regular';src:url('db_helvethaicamon_x_v3.2-webfont.eot');src:url('db_helvethaicamon_x_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
url('db_helvethaicamon_x_v3.2-webfont.woff2') format('woff2'),
url('db_helvethaicamon_x_v3.2-webfont.woff') format('woff'),
url('db_helvethaicamon_x_v3.2-webfont.ttf') format('truetype'),
url('db_helvethaicamon_x_v3.2-webfont.svg#db_helvethaicamon_x55_regular') format('svg');font-weight:normal;font-style:normal;}