/* header */
.logo_header{
	padding-right: 0 !important;
}

.logo-set-th{
	width: 150px;
	height: 85px;
	background: url("/images/logo_ie_th.png");
	background-repeat: no-repeat;
	display: block;
}

.logo-set-en{
	width: 150px;
	height: 85px;
	background-image: url("/images/logo_ie_en.png");
	background-repeat: no-repeat;
	display: block;
}

.navbar-brand {
	background-position: -8px 0;
	width: 40px;
}

.login-header{
	width: 510px !important;
}

.slide-tab{
	margin-right: 0;
	padding-right: 15px;
}

.btn-search{
	padding-bottom: 2px;
	padding-top: 3px;
}

.nav-tab-sub > li.last{
	margin-right: 0 !important;
}

#slideNews{
	height: 370px !important;
}

.news-tab-content{
	height: 370px !important;
}

.table-border-none > tbody > tr > td{
	padding-top: 0px !important;
}

.news-readmore{
	padding-top: 4px !important;
	padding-bottom: 2px !important;
}

.ipo-content{
	margin-top: 10px !important;
}

.table-ipo-content > .table-set > tbody > tr > td{
	padding-bottom: 7px;
	padding-top: 6px;
}


.posttrade-sidebar{
	width: 260px;
}

.posttrade-body{
	padding: 24px 0 18px 0;
}

.posttrade-body-content{
	width: 400px;
	margin-left: 40px;
	padding-left: 5px;
}

.posttrade-sidebar{
	margin-left: 20px;
}

.nav-set-form{
	padding-right: 0;
}


.login-register {
	position: absolute;
	margin-left: 4px;
	line-height: 17px;
	font-size: 10.5px;
	border-left: 1px dotted #000;
	padding-left: 5px;
	height: 30px;
	width: 125px !important;
}

.login-register a{
	/*display: block;*/
	color: #000;
	text-decoration: underline;
}

.login-register a:hover{
	color: #FFF;
	text-decoration: none;
}


.set-color-2color-square{
	background-image: url("/images/mini_calen_mixbg.png");
	background-repeat: no-repeat;
	background-position: center center;
}


@media (min-width: 768px) {

}

@media (min-width: 768) and (max-width : 1024px){
	#body-content{
		width: 800px !important;
	}

	.login-box-container{
		width: 800px !important;
	}
}

@media (min-width: 1200px){
	.classroom-sidebar{
		width: 206px !important;
	}

	.classroom-body-content{
		width: 700px !important;
		margin-left: -20px !important;
	}

	.search_header{
		width: 250px !important;
	}

	#body-content{
		width: 1000px !important;
	}
}


.footer-social{
	position: absolute;
	left: 0;
	bottom: -100px;
	width: 25%;
}
