#oppday-head {
	font-family: db_helvethaicamon_x55_regular;
}

#oppday-head {
	padding: 15px 0px;
	font-size: 24px;
	background-color: #FCB034;
	color: white;
	font-weight: 400;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#oppday-table {
	font-family: Helvetica, Tahoma, sans-serif;
	margin-top: 10px;
}

#oppday-table > thead > tr > td.day-cell,
#oppday-table > thead > tr > td.remark-cell {
	vertical-align: middle;
}

#oppday-table > thead > tr > td {
	background-color: #D1D1D1;
	font-size: 14px;
}

#oppday-table > tbody > tr > td {
	padding: 8px 0;
	text-align: center;
	font-size: 14px;
}

#oppday-table > tbody > tr > td.day-cell-right,
#oppday-table > tbody > tr > td.slot {
	border-right: solid 1px #DDD;
}

#oppday-table > tbody > tr > td.block-slot {
	background-color: #ACACAC;
	color: white;
}

#oppday-table > tbody > tr > td.mai-slot {
	background-color: #ADD8E6;
	color: white;
}

#oppday-table > tbody > tr > td.mai-slot:hover {
	background-color: #CCE2E9;
}

#oppday-table > tbody > tr > td.block-slot:hover {
	background-color: #ACACAC;
}

.slot:hover {
	background-color: #F8F8F8;
}

.focus {
	background-color: #FCB034;
}

#oppday-table > tbody > tr > td.block-slot,
#oppday-table > tbody > tr > td.slot {
	-webkit-transition: background-color 250ms ease-out;
	-moz-transition: background-color 250ms ease-out;
	-o-transition: background-color 250ms ease-out;
	transition: background-color 250ms ease-out;
}
