.datepicker, .input-daterange {
	font-family: Tahoma;
	font-size: 9pt;
}

.datepicker .cw {
	font-family: Tahoma;
	font-size: 9pt;
	width: 12px;
	padding: 0 2px 0 5px;
	vertical-align: middle;
}

.datepicker table tr td,
.datepicker table tr th {
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 0px;
	border: none;
	padding: 2px;
}

.datepicker .dow {
	border-bottom: 2px solid #ed6b03;
}

.input-daterange input {
	font-family: Tahoma;
	font-size: 9pt;
	text-align: left;
	vertical-align: middle;
	border: 1px solid #7c7c7c;
		overflow: hidden;
		background: #fafafa;
}

.input-daterange input{
	background: #fafafa url("/images/calendar.gif") no-repeat 97% 50%;
}

.input-daterange input:first-child, .input-daterange input:last-child {
	border-radius: 3px;
}